@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.active-tab {
  border-bottom: 10px solid pink;
}

body {
  font-family: 'Indie Flower';
  overflow: hidden;
}
.contact{
  display:none;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:83vh;
  background-image: url('./img/ice-cream-falling.jpeg');
  background-size: 100%;
}
.info-box{
  border-radius:25px;
  background-color: #50c878;
  opacity: 0.8;
  width:35vw;
  height:35vh;
}
ul {
  list-style: none;
}

.svg-logo {
  width: 100px;
}

nav.navbar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.text-head {
  font-size: 2em;
  padding-left: 20px;
}

.big-link {
  font-size: 2.5em;
}

.links {
  text-align: center;
}

.links li {
  display: inline;
  margin-left: 50px;
}

.img-home img {
  height: 80vh;
}

.home {
  display: none;
  position: fixed;
}

.menu {
  width: 100vw;
  padding: 5em;
  height: 120vh;
  background-image: url('./img/ice-cream-falling.jpeg');
  background-size: 95%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.show {
  display: flex;
}

.box-home {
  background-color: lightgray;
  border-radius: 15px;
  text-align: center;
  padding: 2em;
  width: 500px;
}

.left-side .container {
  align-items: center;
  text-align: center;
  width: 70vw;
}

.container-box {
  display: flex;
  justify-content: center;
  padding: 5em;
}

.credits a {
  text-decoration: underline;
}

.credits {
  font-size: 2em;
}

.grid-container {
  padding: 5em;
  display: grid;
  background-color: #c8a2c840;
  height: 100vh;
  width: 45vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5em
}

.grid-element {
  padding: 2em;
  border-radius: 25px;
  background-color: #c8a2c8a5;
}

.grid-element h1 {
  font-size: 1.5em;
}

.menu .credits {
  margin-top: 50px;
  color: white;
}

.menu .credits a {
  color: white
}
