@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@300;400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  color: black;
}
body{
  font-family: 'Indie Flower';
}
ul{
  list-style: none;
}
.svg-logo{
  width:100px;
}

nav.navbar{
  padding: 1em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.actual-title{
  font-size: 2em;
  padding-left: 20px;
}
.big-link{
  font-size: 2.5em;
}
.links{
  text-align: center;
}
.links li{
  display: inline;
  margin-left: 50px;
}
.img-home{
  height: 100%;
}